@font-face {
    font-family: 'Bahn';
    src:  url('../fonts/bahnschrift.ttf') format('truetype');
}

body
{

    font-family: Bahn;
    margin: 0;
    min-height: 100vh;

    background: rgb(46, 46, 46);
    color: white;

    scrollbar-width: thin;
}

.top_bar
{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
    background-color: rgb(29, 29, 29);
}

.home_button
{
    z-index: 1000;
    margin: auto 10px;

    height: 100%;
    width: 150px;

    display: flex;
    flex-direction: column;

    text-align: center;

    background-color:rgb(37, 37, 37);
    transition: background-color .5s;
} .home_button:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
} .home_button:hover .dropdown_button_text {
    transition: opacity .5s;
    pointer-events: all;
    cursor: auto;
    opacity: 100;
}

.home_button_text
{
    color: inherit;
    padding-top: 10px;
    min-width: 100%;
    min-height: 48px;

    text-decoration: none;

    font-family: Bahn;
    font-weight: 400;
    font-size: 28px;
}

.links_button
{
    z-index: 1000;
    margin: auto 10px;

    height: 100%;
    width: 150px;

    display: flex;
    flex-direction: column;

    text-align: center;

    background-color:rgb(37, 37, 37);
    transition: background-color .5s, min-height .5s;
} .links_button:hover {
    min-height: 58px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
} .links_button:hover .dropdown_button_text {
    transition: opacity .5s;
    pointer-events: all;
    cursor: pointer;
    opacity: 100;
}


.links_button_text
{
    color: inherit;
    padding-top: 10px;
    min-width: 100%;
    min-height: 48px;

    text-decoration: none;

    font-family: Bahn;
    font-weight: 400;
    font-size: 28px;
}

.links_dropdown_holder
{
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;
}

.dropdown_button_text
{
    pointer-events: none;
    cursor: default;

    color: inherit;
    text-decoration: none;

    opacity: 0;
    min-height: 46px;
    padding-top: 12px;

    font-family: Bahn;
    font-weight: 400;
    font-size: 28px;

    transition: background-color .5s, color .5s;
    background-color:rgb(255, 255, 255);
} .dropdown_button_text:hover {
    background-color: rgb(37, 37, 37);
    color: rgb(255, 255, 255);
}





.body_container
{
    display: grid;
    justify-content: center;
}

.map_title_container
{
    justify-content: center;
    margin: 8px 0px 8px 0px;
}

.different_game_container
{
    display: flex;
    flex-direction: column;

    background-color: rgb(51, 51, 51);
    min-height: 256px;
    width: 99vw;

    margin-bottom: 32px;
}

.map_top_bar
{
    display: flex;
    justify-content: center;

    background-color: rgb(34, 34, 34);

    height: 48px;
}

.game_container_map_title
{
    font-size: 24px;
}

.version_string
{
    color: rgb(109, 109, 109);
}

.workshop_icon
{
    max-height: 32px;
    height: 100%;
}

.game_icon
{
    max-height: 32px;
}

.icon_container
{
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: center;
    align-items: center;

    height: 256px;
    width: 100%;

}

.workshop_link
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.carousel_container_hbox
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.image_carousel
{
    position: relative;
    display: flex;
    flex-direction: row;
    width: calc(95% - 64px - 32px);
}

.map_image_container
{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
}

.map_image
{
    max-height: 256px;
    display: block; 
    object-fit: cover;
}

.image_prev
{
    z-index: 10;

    width: 32px;
    opacity: 25%;
}

.image_next
{
    z-index: 10;

    width: 32px;
    opacity: 25%;
}